@{
    ViewBag.Title = "Home";
    ViewBag.District_ID = "district";
    }
@model IEnumerable<PPC_Rental.Models.PROPERTY>

<div class="slider-area">
    <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">
            <div class="item"><img src="/Content/assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div>
            <div class="item"><img src="/Content/assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
            <div class="item">
                <img src="~/Content/assets/img/slide1/slider-image-3.jpg" />
            </div>
            <div class="item">
                <img src="~/Content/assets/img/slide1/slider-image-4.jpg" />
            </div>
        </div>
    </div>
    <div class="container slider-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <h2>property Searching Just Got So Easy</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt deleniti, ullam commodi sit ipsam laboriosam velit adipisci quibusdam aliquam teneturo!</p>
            </div>
        </div>
    </div>
</div>
<div class="home-lager-shearch" style="padding-top: 25px; margin-top: -125px; padding-bottom: 60px; background-color: rgb(252, 252, 252);">
    <div class="container">
        <div class="col-md-12 large-search">
            <div class="search-form wow swing">
                <form class=" form-inline" role="search" action="@Url.Action("Search","Home")" method="get">
                    <div class="col-md-12">
                       
                        <div class="col-md-4">
                            <label for="property-geo">Property Type</label>
                            @Html.DropDownList("propertytype", (IEnumerable<SelectListItem>)ViewBag.myPropertyType,  "Type" ,new { @class = "selectpicker show-tick form-control" })
                       
                        </div>
                       <div class="col-md-4">
                           <label for="property-geo">District</label>
                            @Html.DropDownList("dis", (IEnumerable<SelectListItem>)ViewBag.myDistrict, "District", new { @class = "selectpicker show-tick form-control"})
                        </div>
                       
                        <div class="col-md-4">
                            <label for="property-geo">Area</label>
                            <select id="lunchBegins" class="selectpicker" title="Area" name="area">
                                <option value="120m2">120m2</option>
                                <option value="130m2">130m2</option>
                                <option value="150m2">150m2</option>
                                <option value="200m2">200m2</option>
                                <option value="500m2">500m2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 10px">
                        <div class="col-md-4">
                            <label for="property-geo">Min. Baths</label>
                            <select id="lunchBegins" class="selectpicker"   name="bath">
                               

                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                             
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="property-geo">Min. Beds</label>
                            <select id="basic" class="selectpicker show-tick form-control" name="bed">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="property-geo">Key Word</label>
                            <input type="text" class="form-control" placeholder="Search" name="keyWord">
                        </div>
                        </div>

                    <div class="center">
                        <input type="submit" value="" class="btn btn-default btn-lg-sheach">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- property area -->

<div class="content-area recent-property" style="padding-bottom: 60px; background-color: rgb(252, 252, 252);">
    <div class="container">
        <div class="row">
            <div class="col-md-12  padding-top-40 properties-page">
                <div class="col-md-12 ">
                    <div class="col-xs-10 page-subheader sorting pl0">




                    </div>

                    <div class="col-xs-2 layout-switcher">
                        <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                        <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
                    </div><!--/ .layout-switcher-->
                </div>
                <div class="col-md-12 ">
                    <div id="list-type" class="proerty-th">
                        @foreach (var ds in Model)
                        {
                            <div class="col-sm-6 col-md-3 p0">
                                <div class="box-two proerty-item">
                                    <div class="item-thumb">
                                        <a href="property-1.html"><img src="~/Images/@ds.Images"></a>
                                    </div>

                                    <div class="item-entry overflow">
                                        <h5><a href="property-1.html"> @ds.PropertyName </a></h5>
                                        <div class="dot-hr"></div>
                                        <span class="pull-left"><b> Area :</b> @ds.Area</span>
                                        <span class="proerty-price pull-right"> @ds.Price @ds.UnitPrice</span>
                                        <p style="display: none;">@ds.Content.Substring(0,10)</p>
                                        <div class="property-icon">
                                            <img src="/Content/assets/img/icon/bid.png"> (@ds.BathRoom)|
                                            <img src="/Content/assets/img/icon/bath.png"> (@ds.BathRoom)|
                                            <img src="/Content/assets/img/icon/garage.png">(@ds.PackingPlace)
                                            <p><a href="/Details/Details/@ds.ID" tabindex="0" style="font-size: small; color: #56c6ee;">Full info </a></p>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        }
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="pull-right">
                        <div class="pagination">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

